{% extends "layout.html" %}

{% block title %}LeaderBoard{% endblock %}
{% block body %}
	<div class="card m-2">
		<div class="card-header">
			Global ranking
		</div>
		<div class="card-body">
			<div>
				<h3>Your score: </h3>
			</div>
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Name</th>
						<th scope="col">Quiz</th>
						<th scope="col">Results</th>
					</tr>
				</thead>
				<tbody>
					{% for user in users %}
					{% if user.user == current_user.login %}
					<tr style="background-color: yellow;">
						<td>{{user.user}}</td>
						<td>{{user.quiz}}</td>
						<td>{{user.result}}</td>
					</tr>
					{% else %}
					<tr>
						<td>{{user.user}}</td>
						<td>{{user.quiz}}</td>
						<td>{{user.result}}</td>
					</tr>
					{% endif %}
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}